<div class="w-100 pt-5 pb-5 bg-custom-colaborate">
    <div class="w-100 d-flex flex-column align-items-center">
        <img src="/image/together.svg" alt="Colabora con nosotros">
        <p class="fw-bold fs-1">Colabora con Glovo</p>
    </div>
    <div class="row mt-5 pb-5 justify-content-center">
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="https://res.cloudinary.com/glovoapp/image/fetch//w_254,h_220,c_fit,f_auto,q_auto:best/dpr_auto/https://glovoapp.com/images/corporate/rider-image.png">
            <h3 class="mt-3">Hazte repartidor</h3>
            <p class="w-75 text-center">¡Sé tu propio jefe! Realiza entregas a través de Glovo y disfruta de flexibilidad, libertad y ganancias competitivas.</p>
            <a class="mt-4 mb-4 btn btn-success rounded-pill text-white fs-5 fw-bold py-3 px-5" href="/deliverer">Únete</a>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="https://res.cloudinary.com/glovoapp/image/fetch//w_254,h_220,c_fit,f_auto,q_auto:best/dpr_auto/https://glovoapp.com/images/corporate/partners-image.png">
            <h3 class="mt-3">Hazte Partner</h3>
            <p class="w-75 text-center">¡Crece con Glovo! ¡Nuestra tecnología y base de usuarios puede ayudarte a aumentar las ventas y descubrir nuevas oportunidades!</p>
            <a class="mt-4 mb-4 btn btn-success rounded-pill text-white fs-5 fw-bold py-3 px-5" href="/glovo-partner">Únete</a>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="https://res.cloudinary.com/glovoapp/image/fetch//w_254,h_220,c_fit,f_auto,q_auto:best/dpr_auto/https://glovoapp.com/images/corporate/carrers-image.png">
            <h3 class="mt-3">Trabaja con nosotros</h3>
            <p class="w-75 text-center">¿Buscas un nuevo reto apasionante? Si tienes ambición, eres humilde y te gusta trabajar en equipo, ¡queremos conocerte!</p>
            <a class="mt-4 mb-4 btn btn-success rounded-pill text-white fs-5 fw-bold py-3 px-5" href="/work-with-us">Únete</a>
        </div>
    </div>
</div>