<div class="w-100 d-flex flex-column align-items-center bg-custom-colaborate">
    <img src="/image/together.svg" alt="Colabora con nosotros">
    <p class="fw-bold fs-1">Colabora con Glovo</p>
</div>
<div>
    
</div>