<footer class="h-50 p-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3 d-flex flex-column justify-content-start">
                <h3 class="fw-bold mb-3">Colabora con Glovo</h3>
                <a class="mb-3" href="/work-with-us">Trabaja con nosotros</a>
                <a class="mb-3" href="/glovo-partner">Glovo para Partners</a>
                <a class="mb-3" href="/deliverer">Repartidores</a>
                <a class="mb-3" href="/glovo-business">Glovo Business</a>
            </div>
            <div class="col-3 d-flex flex-column justify-content-start">
                <h3 class="fw-bold mb-3">Enlaces de interés</h3>
                <a class="mb-3" href="/about-us">Acerca de nosotros</a>
                <a class="mb-3" href="/common-questions">Preguntas frecuentes</a>
                <a class="mb-3" href="/blog">Blog</a>
                <a class="mb-3" href="/contact">Contacto</a>
                <a class="mb-3" href="/security">Seguridad</a>
            </div>
            <div class="col-3 d-flex flex-column justify-content-start">
                <h3 class="fw-bold mb-3">Síguenos</h3>
                <a class="mb-3" href="/">Facebook</a>
                <a class="mb-3" href="/">Twitter</a>
                <a class="mb-3" href="/">Instagram</a>
            </div>
            <div class="col-3 d-flex flex-column justify-content-start">
                <a class="mb-3" href="/">
                    <img class="app-width-custom" src="/image/app-store-logo.svg">
                </a>
                <a class="mb-3" href="/">
                <img class="app-width-custom" src="/image/google-play-logo.svg"></a>
                <a class="mb-3" href="/terms">CONDICIONES DE USO</a>
                <a class="mb-3" href="/privacity">POLITICA DE PRIVACIDAD</a>
                <a class="mb-3" href="/cookies">POLITICA DE COOKIES</a>
            </div>
        </div>
    </div>
</footer>