<div class="container h-75">
    <div class="row h-100 align-items-center">
        <div class="col-12 h-75 d-flex flex-column justify-content-around">
            <h1 class="{{#if success}}text-success{{/if}} text-center">{{msg}}</h1>
            <a href="/" class="btn btn-link">Volver a Inicio</a>
        </div>
    </div>
</div>