<div class="container h-75">
    <div class="row h-100 align-items-center">
        <div class="col-12 h-75 d-flex flex-column justify-content-around align-items-center">
            <h1 class="{{#if success}}text-success{{/if}} text-center">{{msg}}</h1>
            <div class="d-flex align-items-end justify-content-center w-50 h-50">
                <img class="w-25" src="/image/restaurant.png">
                <img class="w-50" src="/image/delivery.gif">
                <img class="w-25" src="/image/home.png">
            </div>
            <a href="/" class="btn btn-link mt-5">Volver a Inicio</a>
        </div>
    </div>
</div>